*{
	margin: 0 0;
	padding: 0 0;
}
body{
	width: 100%;
	height: 100%;
	position: absolute;
}
.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background:  url(../images/Form.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.borderDouble{
	height: 10px;
	width: 150px;
	display: block;
	border-top: 3px solid #F9ABCD;
	border-bottom: 3px solid #F9ABCD;
}
.formHead p{
	font-family: "微软雅黑";
	font-size: 2rem;
	color: #0867e3;
	margin-bottom: 10px;
}
.formHead{
	margin-top: 155px;
	margin-bottom: 20px;
}
.formItem{
	width: 435px;
	height: 83px;
	margin-bottom: 30px;
}
.forms input{
	width: 299px;
	height: 50px;
	font-size: 24px;
	font-family: "微软雅黑";
	color: #656565;
	margin-top: 19px;
	margin-left: 120px;
	border: none;
}
.formItem:nth-child(1){
	background:  url(../images/name.png) 0 0 no-repeat;
}
.formItem:nth-child(2){
	background:  url(../images/xueyuan.png) 0 0 no-repeat;
}
.formItem:nth-child(3){
	background:  url(../images/grade.png) 0 0 no-repeat;
}
.formItem:nth-child(4){
	background:  url(../images/tel.png) 0 0 no-repeat;
}
.formItem:nth-child(5){
	background:  url(../images/qq.png) 0 0 no-repeat;
}
.formItem:nth-child(7){
	height: 136px;
	background:  url(../images/youshi.png) 0 0 no-repeat;
}
#paishe{
	background:  url(../images/form-paishe.png) 0 0 no-repeat;
}
#houqi{
	background:  url(../images/form-houqi.png) 0 0 no-repeat;
}
#wenan{
	background:  url(../images/form-wenan.png) 0 0 no-repeat;
}
#chahua{
	background:  url(../images/form-chahua.png) 0 0 no-repeat;
}
#yunying{
	background:  url(../images/form-yunying.png) 0 0 no-repeat;
}
#chanpin{
	background:  url(../images/form-chanpin.png) 0 0 no-repeat;
}
#pingmian{
	background:  url(../images/form-pingmian.png) 0 0 no-repeat;
}
#xiaobai{
	background:  url(../images/form-xiaobai.png) 0 0 no-repeat;
}
#fe{
	background:  url(../images/form-fe.png) 0 0 no-repeat;
}
#houtai{
	background:  url(../images/form-houtai.png) 0 0 no-repeat;
}
#sa{
	background:  url(../images/form-sa.png) 0 0 no-repeat;
}
#android{
	background:  url(../images/form-android.png) 0 0 no-repeat;
}
#design{
	background:  url(../images/form-design.png) 0 0 no-repeat;
}
#cehua{
	background:  url(../images/form-cehua.png) 0 0 no-repeat;
}
.forms textarea{
	width: 370px;
	height: 80px;
	margin-left: 45px;
	margin-top: 35px;
	border: none;
	font-size: 24px;
	font-family: "微软雅黑";
	color: #656565;
	text-indent: 2em;
	overflow-x: hidden;
}
.forms button{
	height: 60px;
	width: 435px;
	background-color: #5fa9ef;
	color: #fff;
	font-size: 24px;
	font-family: "微软雅黑";
	border: none;
	border-radius: 5px;
	margin-top: 57px;
}