*{
	margin: 0 0;
	padding: 0 0;
}
body{
	overflow: hidden;
}
a{
	text-decoration: none;
}
a:visited{
	color: #67C5DF;
}
.box{
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	/*margin-top: 100px;*/
	position: absolute;
}
.container{
	backface-visibility: hidden;
	height: 100%;
	width: 100%;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	position: absolute;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.page{
	width: 100%;
	height: 100%;
	position: relative;
}
.page1{
	background: url(../images/page1.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.page2{
	background: url(../images/page2.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.page3{
	background: url(../images/page3.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.page4{
	background: url(../images/page4.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.page2Content{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contentTop{
	margin-top: 255px;
}
.mainContent{
	width: 765px;
	margin: 33px 100px;
}
.borderDouble{
	height: 10px;
	width: 195px;
	display: block;
	border-top: 3px solid #F9ABCD;
	border-bottom: 3px solid #F9ABCD;
}
.contentTop p{
	font-family: "微软雅黑";
	font-size: 40px;
	color: #0767E3;
	margin-bottom: 10px;
}
.mainContent h5{
	color: #0767E3;
	font-family: "苹方";
	font-size: 1.9rem;
	line-height: 48px;
}
.mainContent p{
	font-family: "苹方";
	font-size: 1.9rem;
	color: #303030;
	line-height: 55px;
}
li{
	list-style-image: url(../images/list.jpg);
	margin-bottom: 20px;
}
/*page3*/
.tabList{
	display: flex;
	justify-content: center;
	padding-top: 153px;
	margin-bottom: 50px;
}
.tabControl{
	display: flex;
	flex-direction: row;
}
.tab{
	width: 177px;
	height: 48px;
	background-color: #fff;
	border-radius: 7%;
}
.tab p{
	color: #56A1E8;
	font-size: 1.3rem;
	font-family: "苹方";
	line-height: 48px;
	text-align: center;
}
.choosed p{
	color: #fff;
}
.choosed{
	background-color: #5FA9EF;
}
.itemsList{
	display: flex;
	justify-content: center;
}
.flexItems{
	width: 512px;
	height: 600px;
	padding-left: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
}
.list2{
	display: none;
}
.list1 .items{
	background: url(../images/design.png) 0 0 no-repeat;
}
.list2 .items{
	background: url(../images/tech.png) 0 0 no-repeat;
}
.items{
	margin-left: 20px;
	margin-top: 35px;
	width: 150px;
	height: 176px;
	display: flex;
	flex-basis: 100%;
	justify-content: space-around;
}
.items p{
	font-family: "苹方";
	font-size: 1.5rem;
	padding-top: 145px;
	margin-left: -20px;
}
.list1 .column1:nth-child(1) .items:nth-child(2){
	background: url(../images/design.png) 0 -200px no-repeat;
}
.list1 .column1:nth-child(1) .items:nth-child(3){
	background: url(../images/design.png) 0 -400px no-repeat;
}
.list1 .column1:nth-child(2) .items:nth-child(1){
	background: url(../images/design.png) -186px 0 no-repeat;
}
.list1 .column1:nth-child(2) .items:nth-child(2){
	background: url(../images/design.png) -186px -200px no-repeat;
}
.list1 .column1:nth-child(3) .items:nth-child(1){
	background: url(../images/design.png) -373px 0 no-repeat;
}
.list1 .column1:nth-child(3) .items:nth-child(2){
	background: url(../images/design.png) -373px -200px no-repeat;
}
.list1 .column1:nth-child(3) .items:nth-child(3){
	background: url(../images/design.png) -373px -410px no-repeat;
}
.list2 .column1:nth-child(1) .items:nth-child(2){
	background: url(../images/design.png) 0 -200px no-repeat;
}
.list2 .column1:nth-child(2) .items:nth-child(1){
	background: url(../images/design.png) -186px 0 no-repeat;
}
.list2 .column1:nth-child(2) .items:nth-child(2){
	background: url(../images/design.png) -186px -200px no-repeat;
}
.list2 .column1:nth-child(3) .items:nth-child(1){
	background: url(../images/design.png) -373px 0 no-repeat;
}
.list2 .column1:nth-child(3) .items:nth-child(2){
	background: url(../images/design.png) -373px -200px no-repeat;
}
.show > p {
	text-align: center;
	font-family: "苹方";
	font-size: 1.6rem;
	line-height: 40px;
}
.show > p:nth-child(3){
	color: #0767E3;
	margin-top: 10px;
	margin-bottom: 38px;
}
/*模态框*/
.modal{
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 999;
	position: absolute;
	display: none;
}
.close{
	width: 35px;
	height: 35px;
	background:  url(../images/close.png) 0 0 no-repeat;
	margin-top: 125px;
	margin-left: 854px;
}
.chooseHead{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
}
.chooseHead button{
	width: 196px;
	height: 60px;
	background-color: #fff;
	line-height: 60px;
	font-size: 1.5rem;
	border-radius: 7%;
}
.chooseHead button a{
	color: #67C5DF;
	font-family: "苹方"；
}
.chooseHead .items{
	width: 80px;
	height: 80px;
	margin-bottom: 34px;
	/*background:  url(../images/title.png) -5px -13px no-repeat;*/
}
.itemContent{
	width: 645px;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 45px;
	font-family: "苹方"；
}
.itemContent h4{
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 40px;
}
.itemContent p{
	font-size: 1.4rem;
	line-height: 40px;
}